

body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: none;
	background-size: cover ;

}

.menu{
	width :100%;
	height: 95px;
	margin-left: 75%;
}
.menuc{
	width :100%;
	height: 102px;
	background-color:#c41f1f;


}
.menuc button{
	width: 180px;
	box-shadow:inset 0px 1px 0px 0px #000000;
	background:linear-gradient(to bottom, #000000 5%, #000000 100%);
	background-color:#000000;
	border-radius:13px;
	border:4px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#fafafa;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
    position: absolute;
    left: 1450px;
    top: 29px;

}

.pwd{
	color: black;
	font-size: 14px;
font-family: arial;
color: lightgrey;
margin-top: 3.95%;
margin-left: 0px;
font-size: 16.75px;
font-style: italic;
text-decoration: none;
}
.Logo{
width :70%;
height: 0%;
background-color:#c41f1f;
position: absolute;

}



.srch-box{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin-top:12px;
	 
	padding: 60px;
	margin-bottom:20px;

}
.srch-box select{
background: none;
color: grey;
font-style: italic;
text-align: center;
padding: 10px;
width:264px;
height:52px;
border: 2px;
font-size: 20px;
box-shadow: 0 5px 25px rgba(0,0,0,.5); 
border: 2px solid #000;
border-radius: 12px;
border-spacing: 10px;
border-bottom:5px solid #c41f1f;
margin: 0 16px;
float:left;
margin-top: 20px;

}
.srch-button{
	border: outset;
	background: #c41f1f;
	border: outset;
	color:white;
	display:inline-block;
	padding:11px 26px;
	font-size: 18px;
	cursor: pointer;
	border: 2px solid  #c41f1f;
    border-radius: 12px;
    font-style:bold;
}
.Symb{
  border-radius: 12px;
}
table, th, td {
  border: 1px  black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
.t01 tr:nth-child(even) {
  background-color: #eee;
  border-radius: 12px;
}
.t01 tr:nth-child(odd) {
 background-color: #fff;
 border-radius: 12px;
}
.t01 th {
  background-color: black;
  color: white;
  border-radius: 12px;
}